h4{
  background-color: black;
  height: 60px;
  font-weight: bold;
  color:red;
  padding-left:30px;
  margin:0;
  line-height: 60px;
}

.list{
  padding-left: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}
.title{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
}
.good{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.titleSort{
  text-align: center;
  margin: 0 auto;
  display: block;
}
